In [56]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [57]:
with open("html_pages/page1.html" ,) as f:
    content = f.read()

In [58]:
soup = BeautifulSoup(content, "html.parser")

In [59]:
h3s = soup.find_all("h3")

In [60]:
articles = soup.select("article.product_pod")

In [101]:
books=[]
for article in articles:
    titles=article.find("h3").find("a")["title"]
    price=article.select_one("p.price_color").text.split("Ã‚Â")[-1]
    rating_element=article.select_one("p.star-rating")
    classes = rating_element["class"][1]
    books.append([titles,price,classes])

In [102]:
books

[['Frankenstein', '£38.00', 'Two'],
 ['Forever Rockers (The Rocker #12)', '£28.80', 'Three'],
 ['Fighting Fate (Fighting #6)', '£39.24', 'Three'],
 ['Emma', '£32.93', 'Two'],
 ['Eat, Pray, Love', '£51.32', 'Three'],
 ['Deep Under (Walker Security #1)', '£47.09', 'Five'],
 ["Choosing Our Religion: The Spiritual Lives of America's Nones",
  '£28.42',
  'Four'],
 ['Charlie and the Chocolate Factory (Charlie Bucket #1)', '£22.85', 'Three'],
 ["Charity's Cross (Charles Towne Belles #4)", '£41.24', 'One'],
 ['Bright Lines', '£39.07', 'Five'],
 ["Bridget Jones's Diary (Bridget Jones #1)", '£29.82', 'One'],
 ['Bounty (Colorado Mountain #7)', '£37.26', 'Four'],
 ['Blood Defense (Samantha Brinkman #1)', '£20.30', 'Three'],
 ['Bleach, Vol. 1: Strawberry and the Soul Reapers (Bleach #1)',
  '£34.65',
  'Five'],
 ['Beyond Good and Evil', '£43.38', 'One'],
 ["Alice in Wonderland (Alice's Adventures in Wonderland #1)",
  '£55.53',
  'One'],
 ['Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)', '£57.06', 'Four'],
 ["A Spy's Devotion (The Regency Spies of London #1)", '£16.97', 'Five'],
 ["1st to Die (Women's Murder Club #1)", '£53.98', 'One'],
 ['1,000 Places to See Before You Die', '£26.08', 'Five']]

In [103]:
df=pd.DataFrame(books , columns=["Books Title" , "Price" , "Ratings" ])

In [104]:
df

                                          Books Title   Price Ratings
0                                        Frankenstein  £38.00     Two
1                    Forever Rockers (The Rocker #12)  £28.80   Three
2                         Fighting Fate (Fighting #6)  £39.24   Three
3                                                Emma  £32.93     Two
4                                     Eat, Pray, Love  £51.32   Three
5                     Deep Under (Walker Security #1)  £47.09    Five
6   Choosing Our Religion: The Spiritual Lives of ...  £28.42    Four
7   Charlie and the Chocolate Factory (Charlie Buc...  £22.85   Three
8           Charity's Cross (Charles Towne Belles #4)  £41.24     One
9                                        Bright Lines  £39.07    Five
10           Bridget Jones's Diary (Bridget Jones #1)  £29.82     One
11                      Bounty (Colorado Mountain #7)  £37.26    Four
12               Blood Defense (Samantha Brinkman #1)  £20.30   Three
13  Bleach, Vol. 1: Strawberry and the Soul Reaper...  £34.65    Five
14                               Beyond Good and Evil  £43.38     One
15  Alice in Wonderland (Alice's Adventures in Won...  £55.53     One
16   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  £57.06    Four
17  A Spy's Devotion (The Regency Spies of London #1)  £16.97    Five
18                1st to Die (Women's Murder Club #1)  £53.98     One
19                 1,000 Places to See Before You Die  £26.08    Five

In [105]:
df.to_csv("scrapping_data.csv",index=False)